html {
	background-color: #DE9939;
}

h2 {
	font-family: 'Josefin Slab', serif;
	text-align: center;
	font-size: 2.5rem;
}

p {
	text-align: center;
	font-size: 1.5rem;
	font-family: sans-serif;
	font-weight: 200;
}