html {
	background-color: #DE9939;
}

h2 {
	font-family: 'Josefin Slab', serif;
	text-align: center;
	font-size: 8rem;
}

p {
	text-align: center;
	font-size: 6rem;
	font-family: sans-serif;
	font-weight: 200;
}