/* CSS Document */
/*	http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain) */
/*	Paul Irish's Padding Fix
	http://paulirish.com/2012/box-sizing-border-box-ftw */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}



body {
  font-family: 'Roboto mono', sans-serif;
  background-color: #14384C;
  color: #fff;
  height: 100%;
  line-height: 1.8;
  font-size: 14px;
}

header {
  margin-bottom: 40px;
}

nav a {
    margin-right: 20px;
}

section {
  max-width: 50%;
  margin: 10rem 25% 0;
}

hr {
  margin: 40px 0 20px;
}

a {
  color: #f2bf94;
}

.fab {
  margin: 0 20px 20px 0;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.fa:hover {
  opacity: 0.7;
}



@media only screen and (min-width: 48.75em) { /*780*/

  .flex-parent {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  footer {
    justify-content: space-between;
  }

}
