
.logo {
	max-width: 200px;
	margin: 0 auto;

}

.nav {
	display: block;
	margin: 20px auto 30px;
	text-align: center;
	font-weight: 400;
}


.nav li {
	list-style-type: none;
	display: inline-block;
	text-transform: lowercase;
	font-size: 17px;
}

.nav a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: $grey;
	margin: 7px 2px;
	padding: 5px 7px;
	border: 2px solid #fff;
}

.nav a:visited {
	color: $grey;
}

.nav a:hover,
.nav a:active{
	color: $navy;
	background-color: rgb(255, 255, 255);
	border: 2px solid $lightgrey;

}

.lines {
	height: 2px;
    border: 2px;
    width: 100%;
    margin: 0 auto 0;
    color: $lightgrey;
    background-color: $lightgrey;
}

.nav img {
	width: 50px;
}

header .lines{
	margin-top: 10px;

}

@media only screen and(min-width: 33.125em) {
	.logo {
		max-width: 150px;
		margin: 0;
	}

	.nav {
		text-align: right;
	}

	.nav li {
		font-size: 15px;
	}
}











